DATABASE_URL="Enter url for test db"
PORT=
CORS_ORIGIN="Enter the cors-origin here"
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""
RESEND_API_KEY=""
INVITE_SECRET=""
